* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 15pt;
  height: 100vh;
  background:  url("/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  height: 100%;
  font-family: sans-serif;
  color: #585858
}

form {
  border: 2px solid #32F4FF;
  padding: 20px;
  border-radius: 20px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 45px;
  text-align: center;
}

.form {
  position: relative;
  height: 50px;
  width: 300px;
  margin-bottom: 5px;
}

#submit {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  background: #32F4FF;
  border: none;
  border-radius: 5px;
  color: #585858;
  font-size: 20px;
  margin-bottom: 15px
}

.form input {
  width: 300px;
  height: 100%;
  color: #DADADA;
  font-size: 20px;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent
}

label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 130%;
  font-size: 20px;
  pointer-events: none;
  border-bottom: 1px solid #585858;
  overflow: hidden;
  transition: all .5s ease;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #32F4FF;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 17px;
  color: #32F4FF;
}

.form input:focus+label,
.form input:valid+label {
  border-bottom: .3px solid #32F4FF;
  margin-top: 100px;
}

.form input:focus+label::after,
.form input:valid+label::after {
  transform: translateX(0)
}

h2 {
  position: relative;
  left: -120px;
  font-size: 17px;
  margin-bottom: 5px;
}

h3 {
  position: relative;
  left: -75px;
  font-size: 17px;
  margin-bottom: 5px;
}

h5 {
  position: relative;
  left: -5px;
  font-size: 17px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-size: 25px;
  position: relative;
  left: -115px;
  font-weight: 700;
  color: #00D9FF;
  transition: all .3s ease-in-out
}

a:hover {
  color: #005867;
  font-size: 20px;
}
