@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 9999%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.0em;
}

.navigation a {
  color: red;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 15px;
  margin: 2px;
}

.navigation a:hover {
  color: red;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(wallpaper.png);
  background-size: cover;
  background-position: center;
  background-attachment: transform;
}

.main h2 {
  font-weight: 600;
  color: lightgrey;
  font-size: 2.5em;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  font-size: 3.5em;
  color: red;
  font-weight: 600;

}

.main h3 {
  font-size: 2em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  text-decoration: none;
  background-color: red;
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: red;
  transform: scale(1.1)
}

.social-icon a {
  color: #fff;
  font-size: 3em;
  padding-right: 60px;
}

.title {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 30.25em;
  min-height: 35em;
  box-shadow: 0 15px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
  padding: 0 25px;
  margin: 30px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1)
}

.icon {
  color: black;
  font-size: 15em;
  text-align: center;
}

.info {
  text-align: center;
  font-size: 1.5em;
}

.info h3 {
  font-size: 2em;
  font-weight: 500;
  color: red;
  margin: 10px;
}

.projects {
  background-color: transparent;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background: #fff;
  border: 2px solid #tar;
  min-height: 14em;
  width: 30em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;

}

.project-card:hover .ptoject-image {
  opacity: 0.9;

}

.project-card:hover {
  transform: scale(1.1)
}


.ptoject-image img {
  width: 100%;

}


h4 {
  font-size: 2.2em;
  color: #fff;
  padding: 40px;
  font-weight: 400;
}

.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
